*{
    margin:0;
    padding:0;
}
body{
    background:#2b2922;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.container .navbar{
    margin: 15px;
    display: flex;
    height: 10vh;
}
.navbar >div > img {
    width:120px;
}

.navbar>div:last-child{
    margin-left:auto
}

.navbar>div:last-child > .list{
    display: flex;
    list-style: none;
    align-items: center;
    margin:auto;

}
.list .list-item{
    margin-right: 50px;
    font-weight: 100;
    cursor: pointer;
}

.list .list-item:nth-child(1){
    font-weight: 400;
    
}
.list .list-item-btn{
    padding: 10px 20px;
    margin: auto;
    background: transparent;
    color:#a08f36;
    border: 2px solid #a08f36;
    border-radius: 6px;
    cursor: pointer;
}


/* hero */
.hero{
    display: flex;
    justify-content: space-around;
    height: 25vh;
margin-top:20px;
    align-items: center;

}
.hero .hero-left h1{
font-size: 3.5rem;

}
.banner{
    max-width: 100%;
}
.banner .banner-container{
  
    max-width: 100%;
}

.banner .banner-container img {
    width: 100%;
    object-fit: cover;
    height: 600px;

}
.arrow-btns{
    position: absolute;
    height:100px;
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-btns  div:first-child {
   padding:45px;
   background-color:rgb(57, 55, 45);
}
.arrow-btns  div:last-child {
    background-color: rgb(160, 143, 54);
    padding:45px;
}

.arrow-btns  div:first-child span{
    border: 2px solid rgb(160, 143, 54);
    padding:13px;
    border-radius: 50%;
    cursor: pointer;
}

.arrow-btns  div:last-child span{
    border: 2px solid white;
    padding:13px;
    border-radius: 50%;
    cursor: pointer;
}

